# IDE faili
.vscode/
.idea/

# Java faili
/bin/
/out/

# Maven projekta faili
/.mvn/
pom.xml


# Eclipse faili
.project
.classpath
.settings/

# Git faili
.gitattributes
.gitignore

# papildus
README.md
/target/
