# IDE and editor files
.vscode/
.idea/

# Compiled Java classes and JAR files
#/target/
/bin/
/out/

# Maven files
/.mvn/
pom.xml
target/

# Eclipse files
.project
.classpath
.settings/

# Git files
.gitattributes
.gitignore

# Miscellaneous
README.md
/target/
