.Button {
    -fx-font: 22px "Serif";
    -fx-padding: 10;
    -fx-background-color: #ececec;
    -fx-text-fill: #595858;
}

.Button:hover {
    -fx-background-color: #969494; /* Darker color for hover effect */
}

.Button:pressed {
    -fx-background-color: #4c4c4c; /* Even darker color for pressed effect */
}
