.Button {
    -fx-font: 22px "Serif";
    -fx-padding: 10;
    -fx-background-color: #8b8b8b;
    -fx-text-fill: #ffffff;
}

.Button:hover {
    -fx-background-color: #5c5c5c; /* Darker color for hover effect */
}

.Button:pressed {
    -fx-background-color: #4c4c4c; /* Even darker color for pressed effect */
}
